<header class="header">
    <div class="cap-header">
      <div class="container">

        <div class="icon-cap">
          <img src="images/logo_icon.svg" alt="РУМТИБЕТ">
           <h1>{{ companyTitle }}</h1>
        </div>

        <nav class="nav-wrappers">
          <a href="#">Главная</a>
          <a href="#">Про гида</a>
          <a href="#">Программа тура</a>
          <a href="#">Стоимость</a>
          <a href="#">Блог</a>
          <a href="#">Контакты</a>
        </nav>

          <button class="button-cap">Консультация</button>

      </div>
    </div>
</header>

<section class="hero">
  <div class="container">
    <h2 class="hero-title">НАСЛАДИСЬ ПРОГУЛКОЙ В ГОРАХ С КОМАНДОЙ ЕДИНОМЫШЛЕННИКОВ</h2>

    <form class="hero-form">
      <div class="form-wrapper">

        <div class="form-item">
          <div class="form-text">
          <span class="item-title">Локация для тура</span>
          <span class="item-value">выберите из списка</span>
          </div>
          <img class="item-icon" src="images/arrow_icon.svg" alt="Выбор">
        </div>

        <div class="form-item">
          <div class="form-text">
          <span class="item-title">Дата похода</span>
          <span class="item-value">укажите дату</span>
        </div>
          <img class="item-icon calendar-icon" src="images/calendar_icon.svg" alt="Календарь">
        </div>

        <div class="form-item">
          <div class="form-text">
          <span class="item-title">Участники</span>
          <span class="item-value">выберите из списка</span>
        </div>
          <img class="item-icon" src="images/arrow_icon.svg" alt="Выбор">
        </div>

        <button class="form-button">Найти программу</button>

      </div>  
    </form>

  </div>
</section>
