<header class="header">
  <div class="cap-header">
    <div class="container">

      @if (isLoading) {
      <div id="header-loader" class="icon-isLoading">
        <img src="images/loader_icon.svg" alt="Загрузка"/>
      </div>
      }

      <div class="icon-cap">
        <img src="images/logo_icon.svg" alt="РУМТИБЕТ">
        <h1>{{ companyTitle }}</h1>
      </div>

      <nav class="nav-wrappers">
        <a href="#" id="nav-link-main">Главная</a>
        <a href="#" id="nav-link-guide">Про гида</a>
        <a href="#" id="nav-link-program">Программа тура</a>
        <a href="#" id="nav-link-price">Стоимость</a>
        <a href="#" id="nav-link-blog">Блог</a>
        <a href="#" id="nav-link-contacts">Контакты</a>
      </nav>

      <button class="button-cap" id="button-consultation">Консультация</button>

      <div class="cotainer-date">
        <div class="date-botton-row">

          @if (activeMode === 'date') {
          <div class="date-value-block">
            <p class="date-display-text">{{ currentDate }}</p>
          </div>
          }

          @if (activeMode === 'clicker') {
          <div class="clicker-value-block">
            <button id="clicker-plus-btn" class="clicker-action-btn"
              (click)="clickerCount = clickerCount + 1">+</button>
            <span class="clicker-count-text">{{ clickerCount }}</span>
            <button id="clicker-minus-btn" class="clicker-action-btn" (click)="clickerCount = clickerCount - 1"
              [disabled]="clickerCount === 0">-</button>
          </div>
          }

          <button id="mode-toggle-btn" (click)="activeMode = (activeMode === 'date' ? 'clicker' : 'date')">
            @if (activeMode === 'date') {
            <span>Показать кликер</span>
            } @else {
            <span>Показать дату</span>
            }
          </button>
        </div>
      </div>

    </div>
  </div>
</header>

<section class="hero">
  <div class="container">
    <h2 class="hero-title">НАСЛАДИСЬ ПРОГУЛКОЙ В ГОРАХ С КОМАНДОЙ ЕДИНОМЫШЛЕННИКОВ</h2>

    <form class="hero-form" id="form-search-tour">
      <div class="form-wrapper">

        <div class="form-item" id="form-item-location">
          <div class="form-text">
            <span class="item-title">Локация для тура</span>
            <span class="item-value"> @if (selectedLocation === '') {выберите из списка} @else { @if (selectedLocation
              === 'waterfall') {Водопад} @else if (selectedLocation === 'spring') {Источник} @else if (selectedLocation
              === 'lake') {Озеро} }
            </span>
          </div>
          <select name="location" id="select-location" [(ngModel)]="selectedLocation">
            <option value="waterfall">Водопад</option>
            <option value="spring">Источник</option>
            <option value="lake">Озеро</option>
          </select>
          <img class="item-icon" src="images/arrow_icon.svg" alt="Выбор">
        </div>

        <div class="form-item" id="form-item-date">
          <label for="input-date" class="form-text">
            <span class="item-title">Дата похода</span>
            <span class="item-value"> @if (selectedDate === '') {выберите дату} @else { {{selectedDate}} } </span>
          </label>

          <img class="item-icon calendar-icon" src="images/calendar_icon.svg" alt="Календарь">
          <input type="date" id="input-date" name="date" [(ngModel)]="selectedDate">
        </div>

        <div class="form-item" id="form-item-participants">
          <label for="input-participants" class="form-text">
            <span class="item-title">Участники</span>
            <span class="item value">
              @if (selectedParticipants === '') {
              выберите из списка
              } @else {
              {{ selectedParticipants }}
              }
            </span>
          </label>
          <input type="number" id="input-participants" name="participants" [(ngModel)]="selectedParticipants">
          <img class="item-icon" src="images/arrow_icon.svg" alt="Выбор">
        </div>

        <button class="form-button" id="button-find-program">Найти программу</button>

      </div>

      <div id="live-wrapper-container" class="live-text-container">
        <input id="live-input-field" [(ngModel)]="liveInput" name="liveInputField" placeholder="Живой инпут" />
        <span class="input-arrow">&gt;</span>
        <div id="live-result">Введённый текст {{liveInput}}</div>
      </div>

    </form>

  </div>
</section>

<section id="banner">
  <div id="banner-images-wrapper">
    <img class="banner-img" src="images/mountains_pik.png" alt="Вид на горы и лес">
    <img class="banner-img" src="images/house.png" alt="Маленький домик у подножия горы">
  </div>
  <div class="banner-text">
    <span class="subtitle">о нашем походе</span>
    <h1 class="banner-title">Исследуйте все горные массивы мира вместе с нами</h1>
    <p class="banner-description">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух
      тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из
      самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.</p>
    <button id="banner-button"> Программа тура</button>
  </div>
</section>

<section id="tours">
  <div class="tours-container">
    <div class="tour-container-text">
      <span class="subtitle">наше предложение</span>
      <h3 class="tours-title">Лучшие программы для тебя</h3>
      <p class="tours-description">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух
        тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.</p>

      @for (tour of tours; track tour.id) {
      <div class="tour-card" id="tour-card-{{tour.id}}">
        <img [src]="'images/' + tour.iconUrl + '_icon.svg'">
        <h3>{{ tour.title }}</h3>
        <p>{{ tour.description }}</p>
      </div>
      }
      <button id="tour-btn">Стоимость программ</button>
    </div>

    <div class="tours-images">
      <img class="tours-img" src="images/dring.png" alt="Напиток">
      <img class="tours-img" src="images/men.png" alt="Мужчина">
      <img class="tours-img" src="images/snowmobile.png" alt="Снегоход">
      <img class="tours-img" src="images/mountain_range.png" alt="Горный хребет">
    </div>
  </div>
</section>